<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
 <nav class="navbar navbar-expand-lg navbar  navbar-fixed-top  navbar-dark bg-dark">
     <img src="https://scontent-gig2-1.xx.fbcdn.net/v/t1.0-9/42644395_244761802877212_941626555505836032_n.jpg?_nc_cat=106&_nc_oc=AQkkC7_t9qOCf5AoEDGjC6Je3CQaI2lOE6G6SqEf4Hisq00LLX1qZE1YF5aeVKiic7o&_nc_ht=scontent-gig2-1.xx&oh=8d38cf4c4991978c3f4c475cf35eb4f7&oe=5DCE975D" height="50" width="50" class="d-inline-block align-top">
            <a class="navbar-brand pt-2" href="#">AS All Tech </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarN"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
   

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                          
        
        <li class="active">
        <a class="nav-link">Home</a>
        </li>
            <li>
            <a class="nav-link " href="#tecnology">Tecnologia</a>
        </li>
         <li>
            <a class="nav-link " href="#staff">Staff</a>
        </li>
        <li>
            <a class="nav-link " data-toggle="modal" data-target="#modalSolicitaServForm" data-whatever="@mdo">Solicitar Serviços</a>
        </li>
         <li>
            <a  class="nav-link "  data-toggle="modal" data-target="#modalContactForm" data-whatever="@mdo">Cadastrar</a>
        </li>
         <li>
            <a class="nav-link"  href="#jumbotron1">Portifólio</a>
        </li>
       
         <li>
           <a class="nav-link" data-toggle="modal" data-target="#modalContactForm" data-whatever="@mdo">Contato</a>
        </li>
              
    </ul>
            </div>
    
            
        </nav>
    <br> <br>  <br>

